<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Mahq: {{ short_description }}</title>
    <meta name="author" content="{{ author }}"/>
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ keywords }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-27914660-6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-27914660-6');
    </script>
    <script>
      'use strict';
      const ja_codes = ['ja', 'ja-jp', 'ja-JP'];
      location.href = (
        window.navigator.languages.some(v => ja_codes.includes(v))
        || ja_codes.includes(window.navigator.language)
        || ja_codes.includes(window.navigator.userLanguage)
        || ja_codes.includes(window.navigator.browserLanguage)
      ) ? 'ja' : 'en';
    </script>
    <meta http-equiv="refresh" content="2; URL=en" />
    <script data-ad-client="ca-pub-7863159742357709" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <style>
      body { text-align: center; }
    </style>
  </head>
  <body>
    <h1>Mahq</h1>
    <p><a href="en">English</a> / <a href="ja">Japanese</a></p>
  </body>
</html>
